$grey-Blue: #989FA6;
$white-Blue: #F2F4F6;
$mainBlue: #B6D1EC;
$mainBlue-Dark: #78AFE4;
$mainBlue-Darker: #55A0E8;

$pale-Orange: #FFF3E8;
$white-Orange: #FFFCFA;
$mainOrange: #FFDEC0;
$mainOrange-Dark: #FFBB7D;
$mainOrange-Darker: #FFA450;

$brown-Pink: #CEBCC6;
$white-Pink: #FAF5F8;
$mainPink: #F5B8D9;
$mainPink-Drak: #F075B9;
$mainPink-Darker: #F34CA7;