.about-me {
    background-color: $white-Pink;
    width: 100%;
    text-align: center;
    
    &__image{
        max-width: 100%;
        height: auto;
        float:right;
        padding-bottom: 15px;
        
        @mixin atMedium{
            max-width:30%;
            padding-left: 20px;
            padding-bottom: 0;
        }
    }
    
    &__content {
        text-align: right;
        @mixin clearfix;
    }
}