/* _advantages.css */

.advantages {
    
    background-color: rgba($mainBlue, 0.2);
    position: relative;
    
    &__content {
        color: $mainPink-Darker;
    }
    
    &__small-placeholder {
        margin-right: 30%;
        
    }
    
    &__medium-placeholder {
        @mixin atMedium {
            margin-right: 30%;
        }
    }
}
