/* _btn.css */

.btn {
    /* spacing */
    padding: 5px 15px;
    margin: 15px;
    /* border */
    border: 1px solid $mainPink-Darker;
    /* font style */
    text-align: center;
    text-shadow:
        -0.5px -0.5px 0 $mainPink,
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;
    color: $white-Pink;

    /* change font color on hover */
    &:hover {
        color: $mainPink-Dark;
    }

    &__link {
        display: block;
        /* spacing */
        padding: 5px;
        margin: 0;
        /* no border */
        border: none;
        /* font size */
        font-size: 1.0rem;

        /* on larder screens */
        @mixin atSmall {
            /* display links inline */
            display: inline;
            /* seperate links from each other */
            border-right: 1px solid $white-Pink;
            padding: 0 5px 0 0;
        }

    }

    /* primery buttons */
    &__primery {
        /* size */
        min-width: 30%;
        /* shadow */
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
            0 3px 10px 0 rgba(0, 0, 0, 0.19);
        /* background color */
        background-color: $mainPink-Dark;

        /* change background color on hover */
        &:hover {
            background-color: $white-Pink;
        }
    }

    /* secondary buttons */
    &__secondary {
        /* background color */
        background-color: transparent;

        /* change background color on hover */
        &:hover {
            background-color: $brown-Pink;
        }
    }

}
