/* _forms.css */

form {
    /* form width = content */
    display: inline-block;
}

fieldset {
    /* spacing */
    margin: 10px auto;
    /* border */
    border: 2px solid $mainPink-Dark;
    border-radius: 10%;
}

legend {
    padding: 0 15px !important;
}

input,
textarea {
    /* background */
    background-color: $white-Blue;
    /* text */
    text-align: center;
    font-size: 1.0rem;
}

textarea {
    /* will prevent resizing horizontally */
    resize: vertical;
}
