/* _header.css */

.header {
    width: 100%;
    height:auto;
    position: relative;
    text-align: center;
    padding: 10px 20px;
    @mixin atSmall{
            padding-bottom: 0;
        }
    @mixin clearfix;
    
    &__content {
        position: absolute;
        right: 10px;
        height: 100%;
        @mixin atSmall{
            top: 20px;
        }
    }
    
    &__image {
        float: left;
        position: relative;
        max-width: 400px;
        height: auto;
        top: 20px;
        @mixin atSmall{
            top:0;
        }
    }
    
    &__title {
        text-align: right;
    }

    
    &__contact {
        position: relative;
        text-align: right;
        top : 10%;
        right:10px;
        @mixin atMedium{
            text-align : center;
        }
    } 
    
}