/* _images.css */
.images {
    /* size */
    max-width: 45%;
    height: auto;
    /* position */
    float: left;

    /* move image on top of the parent element */
    &--top {
        /* position on top */
        position: relative;
        top: 20px;

        /* less top spacing on larger screens */
        @mixin atSmall {
            top: 0;
        }
    }

    /* move image to the center of the parent element */
    &--center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* disable floating */
        float: none;
    }

    /* make image full width on small screens */
    &--full-width-onSmall {
        /* size */
        max-width: 100%;
        /* no float needed in full-screen image */
        float: none;

        /* back to default on larger screens */
        @mixin atSmall {
            /* size */
            max-width: 45%;
            /* position */
            float: left;
            /* spacing for content from right side of the image */
            padding-right: 10px;
        }
    }
}
