/* _images.css */
.images {
    
    &__container{
        min-height: 100px;
        position: absolute;
        bottom:0;

        &--left {
            left:0;
        }

        &--right {
            right:0;
        }

        @mixin atSmall{
            min-height: 150px;
        }

        @mixin atMedium{
            min-height: 180px
        }

        @mixin atLarge{
            min-height: 200px;
        }
    }
    
    &__seperator {
        min-height: 130%;
        max-height: 130%;
        position:absolute;
        width:auto;
        z-index: 2;
        top: -15%;
    }
    
    
    
    &--left {
        left: 20px; 
        float:left;
    }
        
    &--right {
        right: 10px;
        float:right;
    }
        
    &--higher {
        top: -20%;
    }
    
    &--lower {
        top: -5%;
    }
    
    &--top {
        top:0;
    }
    
    &--smaller{
        max-width: 25%;
        height: auto;
    }
    
    &__inside-content{
        max-width: 100%;
        height: auto;
        float:left;
        padding-bottom: 15px;
        
        @mixin atMedium{
            max-width:30%;
            padding-right: 20px;
            padding-bottom: 0;
        }
    }
    
    &__small-placeholder-right {
        margin-right: 30%;
        
    }
    
    &__medium-placeholder-right {
        @mixin atMedium {
            margin-right: 30%;
        }
    }
    
    &__small-placeholder-left {
        margin-left: 30%;
        
    }
    
    &__medium-placeholder-left {
        @mixin atMedium {
            margin-left: 30%;
        }
    }

    

}