/* _navbar.css */

.navbar {
    min-height: 30px;
    max-height: 30px;
    width: 100%;
    max-width: 960px;
    position: fixed;
    z-index: 5;
    transition: all .5s ease-out;
    background-color: rgba($brown-Pink, 0.95);
    @mixin clearfix;
    
    &--top {
        top:0;
        border-bottom: 1px solid $brown-Pink;
    }
    
    &--bottom {
        bottom: 0;
        border-top: 1px solid $brown-Pink;
    }
    
    &--is-extended {
        max-height:200px;
    }
    
    &__menu {
        opacity: 0;
        visibility: collapse;
        text-align: center;
        padding: 10px;
        color: $white-Pink;
        transition: opacity 1s ease-in-out;
        
        @mixin atSmall {
            display: inline;
            visibility: visible;
            opacity: 1;
            padding: 0 0 0 10px;
            margin-top:3px;
            float:left;
        }
        
        &__item {
            display: block;
            @mixin atSmall {
                display: inline;
            }
        }
        
        &--is-visible {
            opacity: 1;
            visibility: visible;
        }
    }
    
    &__menu-icon {
        position: relative;
        margin-top: 5px;
        margin-left: 5px;
        display:block;
        float:left;
        height: 19px;
        width: 20px;
        
        @mixin atSmall {
            display: none;
        }
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white-Pink;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }
        
        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white-Pink;
            transform-origin: 0 50%;
            transition: all .3s ease-out;
        }
        
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: $white-Pink;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }
        
        
        &--close-x {
            
            &::before {
                transform: rotate(45deg) scaleX(1.23) ;
            }
            
            .navbar__menu-icon__middle {
                opacity: 0;
                transform: scaleX(0);
            }
            
            &::after {
                transform: rotate(-45deg) scaleX(1.23) translateX(-0.5px);
            }
        } 

    }
    
    
}