/* _row.css */

.row {
    width: 100%;
    height: auto;
    @mixin clearfix;
    
    &__col-sm-3 {
        margin-top: 5px;
        float:right;
        width: 100%;
        @mixin atSmall {
            margin-top: 10px;
            width: 25%;
        }
    }
    
    &__col-sm-6 {
        margin-top: 5px;
        float:right;
        width: 100%;
        @mixin atSmall {
            margin-top: 10px;
            width: 50%;
        }
        
    }
    
    &__col-sm-9 {
        margin-top: 5px;
        float:right;
        width: 100%;
        @mixin atSmall {
            margin-top: 10px;
            width: 75%;
        }
    }

}