/* _row.css */

.row {
    
    width: 100%;
    height: auto;
    @mixin clearfix;
    
    &__col-sm-6 {
        
        float:right;
        width: 100%;
        @mixin atSmall {
            width: 50%;
        }
        
    }
    
    &__col-9 {
        
        float:right;
        width:75%;
        
    }
    
}