/* _section.css */

.section {
    width: 100%;
    height: auto;
    position: relative;
    @mixin clearfix;

    /* a smaller section */
    &--smaller {
        max-width: 80%;
    }

    /* offset section for top navbar */
    &__anchor {
        padding-top: 30px;
        margin-top: -30px;
    }
    
    /* seperator between sections */
    &__seperator {
        border-top: 2px solid $brown-Pink;
        box-shadow: 0 2px 2px 0 rgba($brown-Pink, 0.5) inset;

        @mixin atSmall {
            border-top-width: 4px;
        }

        @mixin atMedium {
            border-top-width: 6px;
        }
    }
    
    /* place content vertically centered */
    &__content {
        min-height: inherit;
        display: table;
        min-width: 100%;

        /* centered element */
        &--center {
            display: table-cell;
            vertical-align: middle;
        }
    }

    /* overlay something over the section */
    &__overlay {
        position: absolute;
        min-height: 100px;
    }

    /* section background colors: */
    &--pink {
        background-color: $white-Pink;
    }

    &--blue {
        background-color: rgba($mainBlue, 0.3);
    }

    &--dark {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &--orange {
        background-color: rgba($pale-Orange, 0.3);
    }

    &--pink-dark {
        background-color: rgba($brown-Pink, 0.5);
    }
}
