/* _seperator.css */

.seperator {

    background-color: $brown-Pink;
    border: none;
    height: 2px;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba($brown-Pink, 0.5);


    @mixin atSmall {
        height: 4px;
    }

    @mixin atMedium {
        height: 6px;
        margin: 0;
    }

}
