/* _small-business.css */

.small-business {
    background-color: rgba(0,0,0,0.7);
    width:100%;
    position: relative;
    color: $white-Blue;
    min-height:80px;
    
    
    
    &__content {
        min-height:inherit;
        display: table;
        
        @mixin atSmall{
            min-width: 100%;
        }
    }
    
    &__title {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        
    }
    
    &__image {
        left:10px;
        top:-5%;
        position: absolute;
        height:130%;
        width:auto;
        z-index: 2;
    }
    
}