/* _wrapper.css */

.wrapper {
    /* basic content padding */
    padding: 15px;

    /* more padding on larger screens */
    @mixin atSmall {
        padding: 20px 30px;
    }

    /* placeholders: */
    &__atSmall-left {
        padding-left: 30%;
    }

    /* left padding on medium screens */
    &__atMedium-left {
        @mixin atMedium {
            padding-left: 25%;
        }
    }

    /* right padding on small screens */
    &__onSmall-right {
        padding-right: 25%;

        /* inherit parent right padding for larger screens */
        @mixin atSmall {
            padding-right: inherit;
        }
    }

}
