/* _wrapper.css */

.wrapper {
    
    padding: 10px 20px;;
    
    &--vertical {
        padding-top: 10px;
        padding-bottom: 10px;
        @mixin atSmall{
            padding-top: 30px;
            padding-bottom: 30px;
        }   
    }
    
    &--horizontal {
        padding-left: 20px;
        padding-right: 20px;
        @mixin atSmall{
            padding-left: 40px;
            padding-right: 40px;
        }  
    }

}